# Ignore everything
*

# But not these files...
!.gitignore
!summon.lua
!README.md
!bossConfig.lua
!bossDeath.lua
!bossSector.lua
!bossPlayerTrigger.lua
!bossMission.lua
!bossMissionConfig.lua
!data/plans/*
# etc...

# ...even if they are in subdirectories
!*/